<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<div layout:fragment="content">
	<header id='header'>
	    <div class='app-icons'>
	        <div class='container-fluid'>
	          <div class='navbar-header'>
	          <a class='navbar-brand' href='/bookapp/users/index/registration' style="padding-top: 0.6rem;">READ-BOOK-RECORDER</a>
	       		<div class='login-icon'>
	            <i class='fa fa-user' id='user-login-icon'  aria-hidden='true'></i>

	            <div class="header_right">
	              <form method='post' id='logout_form'  th:action="@{/logout}">
	                  <button type="submit" class="logout_button">
	                  <p class="logout_text">ログアウト</p>
	                  </button>
	                </form>
	            </div>
	          </div>
	        </div>
	      </div>
	  </div>
	</header>

	<div class="contents_main">
		<h1 class="my-3 ml-3">利用者リスト</h1>
		<div class="col-5 ml-3">
			<div class="card">
				<div class="table-responsive">
					<table
						class="table table-responsive table-bordered table-striped table-hover table-responsive"
						style="white-space: nowrap;">
						<thead>
							<tr>
								<th id="table_title＿id" style="width: 1%;">番号</th>
								<th id="table_title__name" style="width: 30%;">email</th>
								<th id="table_title__name" style="width: 44%;">ハッシュ化されたパスワード</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="entry: ${list_user}">
								<td th:text="${entry.count}"></td>
								<td th:text="${entry.username}"></td>
								<td th:text="${entry.password}"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
